<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings>
  <add name="CMSSystemConnectionString" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString2" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString3" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString4" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString5" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString6" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString7" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString8" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString9" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString10" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString11" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString12" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString13" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString14" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString15" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString16" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString17" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString18" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString19" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString20" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString21" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString22" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString23" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString24" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString25" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString26" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString27" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString28" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString29" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString30" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString31" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString32" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString33" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString34" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString35" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString36" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString37" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString38" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString39" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString40" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString41" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString42" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString43" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString44" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString45" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString46" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString47" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString48" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString49" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString50" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString51" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString52" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString53" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString54" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString55" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString56" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString57" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString58" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString59" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString60" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString61" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString62" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString63" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString64" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString65" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString66" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString67" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString68" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString69" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString70" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString71" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString72" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString73" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString74" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString75" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString76" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString77" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString78" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString79" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString80" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString81" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString82" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString83" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString84" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString85" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString86" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString87" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString88" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString89" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString90" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString91" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString92" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString93" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString94" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString95" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString96" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString97" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString98" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString99" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString100" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString101" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString102" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString103" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString104" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString105" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString106" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString107" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString108" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString109" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString110" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString111" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString112" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString113" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString114" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString115" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString116" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString117" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString118" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString119" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString120" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString121" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString122" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString123" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString124" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString125" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString126" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString127" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString128" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString129" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString130" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString131" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString132" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString133" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString134" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString135" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString136" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString137" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString138" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString139" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString140" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString141" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString142" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString143" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString144" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString145" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString146" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString147" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString148" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString149" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString150" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString151" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString152" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString153" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString154" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString155" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString156" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString157" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString158" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString159" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString160" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString161" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString162" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString163" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString164" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString165" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString166" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString167" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString168" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString169" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString170" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString171" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString172" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString173" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString174" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString175" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString176" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString177" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString178" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString179" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString180" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString181" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString182" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString183" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString184" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString185" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString186" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString187" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString188" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CMSConnectionString189" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
